body{
  font-family: "Arial", Serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Homepage Elements Begins */
.homepage_logo{
  width: 10%;
  height: 15px;
  background: url(../img/SHD_logo.jpg);
  background-size: 100% 100%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  position: fixed;
  padding: 40px;
  left: 35px;
  top: 2px;
}


  /*
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
*/
.homepage_bkgd{
  background-image: url(../img/apartment-architecture-ceiling-lamp-269262.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  visibility: visible;
  opacity: 1;
  display: block;
}
/* Homepage Elements Ends */

/* About Us Elements Begins */
.aboutus_logo {
  height: 100px;
  background: url(../img/SHD_logo.jpg);
  background-size: 100% 100%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  background-color: #f4f4f4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 16%;
}

.top-center{
  height: 650px;
  background: url(../img/classy-living-room.jpg);
  background-size: 100% 100%;
}

.SHD_Section1{
  padding: 3% 1% 3% 1%;
}

.SHD_Section1::after{
  content: "";
  clear: both;
  display: table;
}

.SHD_Section1_Column1{
  float: left;
  width: 45%;
  padding: 3% 1% 3% 1%;
}

.SHD_Sect1_Image {
  background-image: url(../img/architecture-beautiful-exterior-106399.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 475px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px 5px #6f6f6f;
}

.SHD_Section1_Column2{
  float: right;
  width: 45%;
  padding: 10% 2% 0% 3%;
  font-size: 120%;
}

.SHD_Section2{
  padding: 3% 1% 3% 1%;
}

.SHD_Section2::after{
  content: "";
  clear: both;
  display: table;
}

.SHD_Section2_Column1{
  float: left;
  width: 45%;
  padding: 0% 2% 0% 0%;
  font-size: 120%;
}

.SHD_Sect2_Image {
  background-image: url(../img/apartment-architecture-beautiful-261426.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: -5px 5px 20px 5px #662D91;
}

.SHD_Section2_Column2{
  float: left;
  width: 45%;
  padding: 0% 0% 0% 5%;
  font-size: 120%;
}

/* About Us Elements Ends */

/* Pricing Elements Begin*/

.pricing_logo{
      width: 20%;
      height: 100px;
      background: url(../img/SHD_logo.jpg);
      background-size: 100% 100%;
      background-repeat: no-repeat;
      left: 45%;
      top: 0px;
      position: unset;
      background-blend-mode: multiply;
      mix-blend-mode: multiply;
      background-color: #f4f4f4;
      display: block;
      margin-left: auto;
      margin-right: auto;
}
.pricing_sect1{
        left: auto;
        top: 75px;
        margin-bottom: 30px;
}

.pricing_col1{
position: absolute;
height: 400px;
float: left;
z-index: 1;
width: 100%;
margin-top: auto;
margin-right: 5px;
margin-bottom: auto;
margin-left: 5px;
}

.pricing_col2{
      margin-right: -252px;
      width: 100%;
      height: 400px;
      float: right;
}

.beautiful_text{
  margin-top: auto;
  margin-right: 5px;
  margin-bottom: auto;
  margin-left: 5px;
  text-align: center;
  background-color: white;
  background-size: 35% 35%;
  width: 40%;
  padding: 1% 1% 1% 1%;
}

  .design{
  width: 50%;
  height: 250px;
  background-image: url(../img/architecture-contemporary-couch-279607.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-left: 70px;
  margin: 0px 0px 0px 0px;
}

.price_packages{
  padding: 250px 0px 0px 0px;
}

/*Pricing Elements Ends*/

/* Contact Elements Begin */
.background-contact {
  border-style: solid;
  border-radius: 20px;
  border-color: purple;
  padding-top: 6%;
  padding-bottom: 6%;
  border-right: 20px;
  border-left: 20px;

}

.contact_sect1{
  left: auto;
  top: 75px;
}

.contact_logo{
    width: 20%;
    height: 100px;
    background: url(../img/SHD_logo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 45%;
    top: 0px;
    position: unset;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    background-color: #f4f4f4;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact_horiz{
  top: 1100px;
  width: 30%;
}

.menu_header{
  margin: auto;
    text-align: center;
    width: 10%;
    padding-right: 60px;
}

.menuCaption{
  margin: auto;
  text-align: center;
  width: 60%;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 39%;
  padding-right: 39%;
}

.contact_text{
margin: auto;
text-align: center;
}

.contact_caption{
margin: auto;
text-align: center;
}

.contact_info{
  margin: 7px;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 25px;
}

.info{
  display: inline-block;
  padding: 20px;
}

.social{
  margin: 10px;
  text-align: center;
  padding-bottom: 40px;
}

.textDec{
  text-decoration: none;
  color: purple;
}
/* Contact Elements End */



.platform{}

.bgimg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
  min-height: 100%;
}

/* Global Menu Button Section Begins */

.menu-btn{
  width: auto;
  right: 0;
  text-decoration: none;
}

.menu-btn {
  color: #000;
}

.shd-button{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.shd-top{
  top: 30px;
  position: fixed;
  z-index: 1;
}

.shd-2XL{
  font-size: 36px;
}

.shd-text-grey{
  color: #757575;
}

.shd-hov-ln-blk{

}

/* Menu Button Section Ends */

.platform{
  z-index: -1;
}


/* .side-bar{
  display: none;
  padding-top: 150px;
  right: 0;
  z-index: 2;
}

.sassyNav{
  background-color: #3b5998;
  overflow: hidden;
  height: 63px;
}

.sassyNav a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px 10px;
  font-size: 17px;
}

.sassyNav ul{
  margin: 8px 0 0 0;
  list-style: none;
}

.sassyNav a:hover{
  background-color: #dddddd;
  color: #000000;
} */

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 25px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  color: #cccccc;
  display: block;
  transition: 0.3s;
}

.side-nav .side-subnav a:hover{
    text-decoration: line-through;
}

.side-nav a:hover{
  color: #fff;
  text-decoration: none;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition:margin-right 0.5s;
  overflow: hidden;
  width: 100%;
}

#main_about{
  transition:margin-right 0.5s;
  overflow: hidden;
  width: 100%;
}

#main_pricing{
  transition:margin-right 0.5s;
  overflow: hidden;
  width: 100%;
}

#main_contact{
  transition:margin-right 0.5s;
  overflow: hidden;
  width: 100%;
}

.sassyNav .material-icons{
  z-index: 3;
  width: 250px;
  font-weight: bold;
  display: none;
  right: 0;
}

@@media(max-width: 568px){
  .sassyNav{display: none}
}
