body{
  font-family: "Arial", Serif;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* Homepage Elements Begins */
.homepage_logo{
  width: 10%;
  height: 15px;
  background: url(../img/SHD_logo.jpg);
  background-size: 100% 100%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  position: fixed;
  padding: 40px;
  left: 35px;
  top: 2px;
}


  /*
  width: 100%;
  height: 100%;
  background-blend-mode: multiply;
  mix-blend-mode: multiply;
*/
.homepage_bkgd{
  background-image: url(../img/apartment-architecture-ceiling-lamp-269262.jpg);
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 0;
  visibility: visible;
  opacity: 1;
  display: block;
}
/* Homepage Elements Ends */

/* About Us Elements Begins */
.aboutus_logo {
  height: 100px;
  background: url(../img/SHD_logo.jpg);
  background-size: 100% 100%;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
  background-color: #f4f4f4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}

.SHD_Sect1_Image {
  background-image: url(../img/architecture-beautiful-exterior-106399.jpg);
  background-size: 100% 100%;
  height: 450px;
  width: 50%;
  background-color: #ffffff;
}

/* About Us Elements Ends */



/* Contact Elements Begin */
.contact_sect1{
  left: auto;
  top: 75px;
}

.contact_logo{
    width: 20%;
    height: 100px;
    background: url(../img/SHD_logo.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    left: 45%;
    top: 0px;
    position: unset;
    background-blend-mode: multiply;
    mix-blend-mode: multiply;
    background-color: #f4f4f4;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contact_horiz{
  top: 1100px;
}

.menu_header{
  margin: auto;
  text-align: center;
  width: 10%;
}

.menuCaption{
  margin: auto;
  width: 60%;
  padding: 10px;
}

.contact_text{
margin: auto;
text-align: center;
}

.contact_caption{
margin: auto;
text-align: center;
}

.contact_info{

}

.social{

}




/* Contact Elements End */



.platform{}

.bgimg{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url();
  min-height: 100%;
}

/* Global Menu Button Section Begins */

.menu-btn{
  width: auto;
  right: 0;
  text-decoration: none;
}

.menu-btn a{
  color: #000;
}

.shd-button{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.shd-top{
  top: 30px;
  position: fixed;
  z-index: 1;
}

.shd-2XL{
  font-size: 36px;
}

.shd-text-grey{
  color: #757575;
}

.shd-hov-ln-blk{

}

/* Menu Button Section Ends */

.platform{
  z-index: -1;
}


/* .side-bar{
  display: none;
  padding-top: 150px;
  right: 0;
  z-index: 2;
}

.sassyNav{
  background-color: #3b5998;
  overflow: hidden;
  height: 63px;
}

.sassyNav a{
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px 10px;
  font-size: 17px;
}

.sassyNav ul{
  margin: 8px 0 0 0;
  list-style: none;
}

.sassyNav a:hover{
  background-color: #dddddd;
  color: #000000;
} */

.side-nav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111111;
  opacity: 0.9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

.side-nav a{
  padding: 10px 10px 25px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
  color: #cccccc;
  display: block;
  transition: 0.3s;
}

.side-nav .side-subnav a:hover{
    text-decoration: line-through;
}

.side-nav a:hover{
  color: #fff;
  text-decoration: none;
}

.side-nav .btn-close{
  position: absolute;
  top: 0;
  right: 22px;
  font-size: 36px;
  margin-left: 50px;
}

#main{
  transition:margin-right 0.5s;
  overflow: hidden;
  width: 100%;
}

#main_about{
  transition:margin-right 0.5s;
  overflow: hidden;
  width: 100%;
}

.sassyNav .material-icons{
  z-index: 3;
  width: 250px;
  font-weight: bold;
  display: none;
  right: 0;
}

@@media(max-width: 568px){
  .sassyNav{display: none}
}
